@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4284df !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #075e54 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4284df !important;
  border-color: #4284df !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-primary:before {
  background-color: #1f5eb6 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1f5eb6 !important;
  border-color: #1f5eb6 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #075e54 !important;
  border-color: #075e54 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #075e54 !important;
  border-color: #075e54 !important;
}
.btn-warning:before {
  background-color: #021714 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #021714 !important;
  border-color: #021714 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1b53a0;
  color: #1b53a0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #4284df;
}
.btn-primary-outline:before {
  background-color: #4284df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  border-color: #075e54;
}
.btn-warning-outline:before {
  background-color: #075e54;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #075e54 !important;
  border-color: #075e54 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4284df;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #4284df !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #075e54 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b53a0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #4284df;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #075e54;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4284df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0f6fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #10d5be;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #4284df;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4284df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4284df;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4284df;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4284df;
  border-bottom-color: #4284df;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4284df !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f27d7a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234284df' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-s1IHd3EimP .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-s1IHd3EimP .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-s1IHd3EimP a {
  font-style: normal;
}
.cid-s1IHd3EimP .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-s1IHd3EimP .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-s1IHd3EimP .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1IHd3EimP .content-text {
  margin-bottom: 0;
}
.cid-s1IHd3EimP .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-s1IHd3EimP .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #4284df;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-s1IHd3EimP .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-s1IHd3EimP .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-s1IHd3EimP .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-s1IHd3EimP .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-s1IHd3EimP .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-s1IHd3EimP .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-s1IHd3EimP .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s1IHd3EimP .nav-dropdown .link {
  font-weight: 400;
}
.cid-s1IHd3EimP .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-s1IHd3EimP .content-right-side {
  text-align: center;
}
.cid-s1IHd3EimP .menu-content-top {
  padding: 0 2rem;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
@media (max-width: 991px) {
  .cid-s1IHd3EimP .menu-content-top {
    width: 100%;
    display: flex;
  }
  .cid-s1IHd3EimP .menu-content-top .menu-content-right {
    display: block;
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: 0s all 0s;
  }
  .cid-s1IHd3EimP .menu-content-top .menu-content-right .info-widget {
    padding: 1rem 0;
    text-align: center;
  }
  .cid-s1IHd3EimP .navbar.opened .menu-content-right {
    visibility: visible;
    transition: 0s all 0.3s;
  }
  .cid-s1IHd3EimP .menu-bottom {
    justify-content: flex-end;
  }
  .cid-s1IHd3EimP img {
    height: 3.8rem !important;
  }
  .cid-s1IHd3EimP .btn {
    display: -webkit-flex;
  }
  .cid-s1IHd3EimP button.navbar-toggler {
    display: block;
  }
  .cid-s1IHd3EimP .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-s1IHd3EimP .navbar {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-s1IHd3EimP .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s1IHd3EimP .navbar-collapse.collapsing,
  .cid-s1IHd3EimP .navbar-collapse.show {
    display: block !important;
  }
  .cid-s1IHd3EimP .navbar-collapse.collapsing .navbar-nav,
  .cid-s1IHd3EimP .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s1IHd3EimP .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s1IHd3EimP .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s1IHd3EimP .navbar-collapse.collapsing .navbar-buttons,
  .cid-s1IHd3EimP .navbar-collapse.show .navbar-buttons {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-s1IHd3EimP .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s1IHd3EimP .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s1IHd3EimP .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s1IHd3EimP .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s1IHd3EimP .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s1IHd3EimP .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-s1IHd3EimP .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
@media (max-width: 991px) {
  .cid-s1IHd3EimP .navbar.opened {
    padding-bottom: 12rem;
  }
  .cid-s1IHd3EimP .navbar .navbar-collapse {
    max-height: calc(100vh - 12rem - 80px);
  }
}
@media (max-width: 575px) {
  .cid-s1IHd3EimP .navbar.opened {
    padding-bottom: 15rem;
  }
  .cid-s1IHd3EimP .navbar .navbar-collapse {
    max-height: calc(100vh - 15rem - 80px);
  }
}
.cid-s1IHd3EimP .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-s1IHd3EimP .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-s1IHd3EimP .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-s1IHd3EimP .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-s1IHd3EimP .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s1IHd3EimP .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-s1IHd3EimP .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-s1IHd3EimP .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-s1IHd3EimP .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-s1IHd3EimP .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-s1IHd3EimP .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .cid-s1IHd3EimP .navbar .menu-content-top {
    display: -webkit-flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-s1IHd3EimP .content-right-side {
    display: flex;
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s1IHd3EimP .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-s1IHd3EimP .navbar {
    display: block;
    padding: 0;
  }
  .cid-s1IHd3EimP .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s1IHd3EimP .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-s1IHd3EimP .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-s1IHd3EimP .navbar-short .menu-content-top {
    height: 0;
    min-height: 0;
    border: none;
  }
  .cid-s1IHd3EimP .navbar-toggler {
    display: none;
  }
  .cid-s1IHd3EimP .navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.cid-s1IHd3EimP .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s1IHd3EimP .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-s1IHd3EimP .menu-logo {
  margin-right: auto;
}
.cid-s1IHd3EimP .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s1IHd3EimP .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s1IHd3EimP .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s1IHd3EimP .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s1IHd3EimP .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s1IHd3EimP .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s1IHd3EimP .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-s1IHd3EimP .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-s1IHd3EimP .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1IHd3EimP .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s1IHd3EimP .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-s1IHd3EimP .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1IHd3EimP .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s1IHd3EimP .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s1IHd3EimP .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-s1IHd3EimP .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-s1IHd3EimP .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s1IHd3EimP .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s1IHd3EimP .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s1IHd3EimP .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s1IHd3EimP button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1IHd3EimP button.navbar-toggler:focus {
  outline: none;
}
.cid-s1IHd3EimP button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-s1IHd3EimP button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s1IHd3EimP button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s1IHd3EimP button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s1IHd3EimP button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s1IHd3EimP nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1IHd3EimP nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s1IHd3EimP nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s1IHd3EimP nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1IHd3EimP .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s1IHd3EimP .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s1IHd3EimP .collapsed .btn {
  display: -webkit-flex;
}
.cid-s1IHd3EimP .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s1IHd3EimP .collapsed .navbar-collapse.collapsing,
.cid-s1IHd3EimP .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s1IHd3EimP .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s1IHd3EimP .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s1IHd3EimP .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s1IHd3EimP .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s1IHd3EimP .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s1IHd3EimP .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-s1IHd3EimP .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s1IHd3EimP .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-s1IHd3EimP .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 4.5rem - 1.5rem);
  }
  .cid-s1IHd3EimP .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s1IHd3EimP .collapsed button.navbar-toggler {
  display: block;
}
.cid-s1IHd3EimP .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-s1IHd3EimP .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-s1IHd3EimP .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s1IHd3EimP .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s1IHd3EimP .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s1IHd3EimP .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-s1IHd3EimP .collapsed .menu-bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s1IHd3EimP .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-s1IHd3EimP .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-s1IHd3EimP .nav-link:focus {
  outline: none;
}
.cid-s1IHd3EimP .navbar-toggler {
  position: relative;
}
.cid-s1IHd3EimP .dropdown-item.active,
.cid-s1IHd3EimP .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-s1IHd3EimP .nav-link:hover,
.cid-s1IHd3EimP .dropdown-item:hover {
  color: #4284df;
}
.cid-s1IHoAPbgb {
  background-image: url("../../../assets/images/banner-monaco-2000x1116.jpg");
}
.cid-s1IHoAPbgb .mbr-arrow {
  background: #232323 !important;
  opacity: .7;
}
.cid-s1IHoAPbgb .mbr-arrow i {
  color: #ffffff !important;
}
.cid-s1IHoAPbgb .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-s1IHoAPbgb .animated-element,
.cid-s1IHoAPbgb .typed-cursor {
  color: #ffffff;
}
.cid-s1IHoAPbgb .animated-element {
  border-bottom: 5px solid #951d19;
}
@media (max-width: 767px) {
  .cid-s1IHoAPbgb .typed-text {
    text-align: center;
  }
}
.cid-s1IHoAPbgb .mbr-text,
.cid-s1IHoAPbgb .typed-text,
.cid-s1IHoAPbgb .mbr-section-btn {
  text-align: left;
}
.cid-s1JFlCAtui {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s1J6MktClh {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s1J6MktClh .card-img {
  position: relative;
  overflow: hidden;
}
.cid-s1J6MktClh section {
  position: relative;
}
.cid-s1J6MktClh a {
  font-weight: 600;
}
.cid-s1J6MktClh .btn-sm {
  padding: 0.6rem 2.2rem;
}
.cid-s1J6MktClh .card-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  height: 100%;
  left: 0;
  background-color: #232323;
  opacity: 0;
  transform-origin: right center 0;
  transform: perspective(100px) rotateY(-120deg);
  transform-style: flat;
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
.cid-s1J6MktClh .card-box {
  padding: 1rem;
  background-color: #ffffff;
  width: 85%;
  margin: auto;
  margin-top: -40px;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
}
.cid-s1J6MktClh .card-box h3 {
  font-weight: 600;
  width: 100%;
  display: inline-block;
  margin: 0;
}
.cid-s1J6MktClh .card-wrapper {
  height: 100%;
}
.cid-s1J6MktClh .card-wrapper:hover .card-img:before {
  opacity: 0.3;
  transform: perspective(100px) rotateY(0deg);
}
.cid-s1J6MktClh .card-wrapper:hover .card-title a {
  color: #f27d7a !important;
}
.cid-s1J6MktClh .text {
  color: #767676;
}
.cid-s1J6MktClh .card-title {
  color: #36404c;
}
.cid-s1J6MktClh .title {
  text-align: center;
}
.cid-s1J7ZNmd3Z {
  padding-top: 0px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-s1J7ZNmd3Z .card-img {
  position: relative;
  overflow: hidden;
}
.cid-s1J7ZNmd3Z section {
  position: relative;
}
.cid-s1J7ZNmd3Z a {
  font-weight: 600;
}
.cid-s1J7ZNmd3Z .btn-sm {
  padding: 0.6rem 2.2rem;
}
.cid-s1J7ZNmd3Z .card-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  height: 100%;
  left: 0;
  background-color: #232323;
  opacity: 0;
  transform-origin: right center 0;
  transform: perspective(100px) rotateY(-120deg);
  transform-style: flat;
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
.cid-s1J7ZNmd3Z .card-box {
  padding: 1rem;
  background-color: #ffffff;
  width: 85%;
  margin: auto;
  margin-top: -40px;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
}
.cid-s1J7ZNmd3Z .card-box h3 {
  font-weight: 600;
  width: 100%;
  display: inline-block;
  margin: 0;
}
.cid-s1J7ZNmd3Z .card-wrapper {
  height: 100%;
}
.cid-s1J7ZNmd3Z .card-wrapper:hover .card-img:before {
  opacity: 0.3;
  transform: perspective(100px) rotateY(0deg);
}
.cid-s1J7ZNmd3Z .card-wrapper:hover .card-title a {
  color: #f27d7a !important;
}
.cid-s1J7ZNmd3Z .text {
  color: #767676;
}
.cid-s1J7ZNmd3Z .card-title {
  color: #36404c;
}
.cid-s1J7ZNmd3Z .title {
  text-align: center;
}
.cid-s63CVb4qmy {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s63CVb4qmy .google-map {
  height: 25rem;
  position: relative;
}
.cid-s63CVb4qmy .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-s63CVb4qmy .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-s63CVb4qmy .google-map[data-state] {
  background: #e9e5dc;
}
.cid-s63CVb4qmy .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s63CVb4qmy .container-fluid {
  padding: 0;
}
.cid-s63CVb4qmy .relative {
  position: relative;
  width: 100%;
}
.cid-s63CVb4qmy .mbr-section-title {
  color: #656565;
}
.cid-s63CVb4qmy .block {
  background: rgba(50, 50, 50, 0.8);
  position: absolute;
  padding: 2rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
}
.cid-s63CVb4qmy .line {
  height: 3px;
  width: 60px;
  background: #ffffff;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.cid-s63CVb4qmy .title {
  text-align: center;
  color: #ffffff;
}
.cid-s63CVb4qmy .text {
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .cid-s63CVb4qmy .block {
    position: relative;
    width: 100%;
    height: auto;
    padding: 6rem 2rem;
  }
}
.cid-s1OjFRQgbh {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s1Ogl2JTq9 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s1Ogl2JTq9 .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-s1Ogl2JTq9 .mbr-section-subtitle {
  color: #444444;
  letter-spacing: 0.03em;
}
.cid-s1Ogl2JTq9 .client-name {
  color: #444;
  letter-spacing: 0.05em;
}
.cid-s1Ogl2JTq9 .wrap-img {
  padding-bottom: 1rem;
}
.cid-s1Ogl2JTq9 .wrap-img img {
  max-width: 100%;
}
.cid-s1Ogl2JTq9 .card-box p {
  color: #444;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-sfzHZv3nam {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sfzHZv3nam .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-sfzHZv3nam h5 {
  padding-bottom: 2rem;
}
.cid-sfzHZv3nam textarea {
  min-height: 150px;
}
.cid-sfzHZv3nam .mbr-iconfont {
  position: absolute;
  right: 1.2rem;
  color: #4554c1;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.cid-sfzHZv3nam h3 {
  display: inline-block;
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-sfzHZv3nam h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-sfzHZv3nam h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-sfzHZv3nam .form-control,
.cid-sfzHZv3nam .field-input {
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #767676;
  color: #767676 !important;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
}
.cid-sfzHZv3nam .form-control input::-webkit-input-placeholder,
.cid-sfzHZv3nam .field-input input::-webkit-input-placeholder,
.cid-sfzHZv3nam .form-control textarea::-webkit-input-placeholder,
.cid-sfzHZv3nam .field-input textarea::-webkit-input-placeholder {
  color: #767676 !important;
}
.cid-sfzHZv3nam .form-control input:-moz-placeholder,
.cid-sfzHZv3nam .field-input input:-moz-placeholder,
.cid-sfzHZv3nam .form-control textarea:-moz-placeholder,
.cid-sfzHZv3nam .field-input textarea:-moz-placeholder {
  color: #767676 !important;
}
.cid-sfzHZv3nam .form-control:hover,
.cid-sfzHZv3nam .field-input:hover,
.cid-sfzHZv3nam .form-control:focus,
.cid-sfzHZv3nam .field-input:focus {
  background-color: #cccccc;
  border-color: #767676;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sfzHZv3nam .form-control:hover input::-webkit-input-placeholder,
.cid-sfzHZv3nam .field-input:hover input::-webkit-input-placeholder,
.cid-sfzHZv3nam .form-control:focus input::-webkit-input-placeholder,
.cid-sfzHZv3nam .field-input:focus input::-webkit-input-placeholder,
.cid-sfzHZv3nam .form-control:hover textarea::-webkit-input-placeholder,
.cid-sfzHZv3nam .field-input:hover textarea::-webkit-input-placeholder,
.cid-sfzHZv3nam .form-control:focus textarea::-webkit-input-placeholder,
.cid-sfzHZv3nam .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-sfzHZv3nam .form-control:hover input:-moz-placeholder,
.cid-sfzHZv3nam .field-input:hover input:-moz-placeholder,
.cid-sfzHZv3nam .form-control:focus input:-moz-placeholder,
.cid-sfzHZv3nam .field-input:focus input:-moz-placeholder,
.cid-sfzHZv3nam .form-control:hover textarea:-moz-placeholder,
.cid-sfzHZv3nam .field-input:hover textarea:-moz-placeholder,
.cid-sfzHZv3nam .form-control:focus textarea:-moz-placeholder,
.cid-sfzHZv3nam .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-sfzHZv3nam .jq-number__spin:hover,
.cid-sfzHZv3nam .jq-number__spin:focus {
  background-color: #cccccc;
  border-color: #767676;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sfzHZv3nam .jq-number__spin {
  background-color: #ffffff;
  border-color: #767676;
  color: #767676;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sfzHZv3nam .jq-selectbox li,
.cid-sfzHZv3nam .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-sfzHZv3nam .jq-selectbox li:hover,
.cid-sfzHZv3nam .jq-selectbox li.selected {
  background-color: #cccccc;
  color: #000000;
}
.cid-sfzHZv3nam .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sfzHZv3nam .jq-number__spin.minus:hover:after,
.cid-sfzHZv3nam .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-sfzHZv3nam .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sfzHZv3nam .jq-number__spin.minus:after,
.cid-sfzHZv3nam .jq-number__spin.plus:after {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.cid-sfzHZv3nam input::-webkit-clear-button {
  display: none;
}
.cid-sfzHZv3nam input::-webkit-inner-spin-button {
  display: none;
}
.cid-sfzHZv3nam input::-webkit-outer-spin-button {
  display: none;
}
.cid-sfzHZv3nam input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sfzHZv3nam H5 {
  color: #000000;
}
.cid-sfzHZv3nam P {
  color: #767676;
}
.cid-sfzHZv3nam H3 {
  color: #e1201d;
}
.cid-s63NTy7j7A {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s63NTy7j7A .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-s63NTy7j7A .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-s63NTy7j7A .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s63NTy7j7A .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-s63NTy7j7A .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-s63NTy7j7A .text2 {
  color: #000000;
  text-align: left;
}
.cid-s63NTy7j7A .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-s63NTy7j7A .logo-title {
  text-align: center;
}
.cid-s63NTy7j7A .logo-sub-title {
  text-align: center;
}
.cid-s63NTy7j7A .links {
  text-align: center;
  color: #656565;
}
.cid-s63NTy7j7A .logo-sub-title i {
  color: #9e9e9e;
}
